/*
  Breadcrumbs
*/

.breadcrumb {
  background-color: transparent;
  padding: 0 0 8px 0;
  margin-bottom: 10px;

  li {
    font-size: @font-size-s;
    font-family: @font-regular;
    a {
      color: #252525;
    }
  }

  li+li:before {
    content: "\203A";
    color: #252525;
  }

  .active {
    color: @color-link-base;
  }
}

/*
  Media queries
*/


@media (max-width: 767px) {
  .breadcrumb {
    text-align: center;
  }
}