.cart-dark {

  &:before {
    content: url(../../../images/icons/footer_cart.png);
    width: 16px;
    height: 15px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    top: 2px;
  }
}

.cart-light {

  &:before {
    content: url(../../../images/icons/header-cart.png);
    width: 16px;
    height: 15px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    top: 2px;
  }
}

.icon-info {
  &:before {
    content: url(../../../images/icons/info.png);
    width: 5px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
  }
}

.icon-photo {
  &:before {
    content: url(../../../images/icons/photo.png);
    width: 14px;
    height: 11px;
    display: inline-block;
  }
}

.icon-attention {
  &:before {
    content: url(../../../images/icons/atterntion.png);
    width: 12px;
    height: 11px;
    display: inline-block;
    margin-right: 4px;
  }
}