/*
  Restyling bootstrap tables and add new styles
*/

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0;
  border-bottom: 1px solid #a7a7a7;
}

.form-table > thead > tr > th,
.form-table > tbody > tr > th,
.ctlg-table > thead > tr > th,
.ctlg-table > tbody > tr > th {
  font-family: @font-regular;
  font-weight: normal;
  padding-bottom: 20px;
}

.form-table_num {
  width: 30px;
}

.form-table_art {
  width: 109px;
}

.form-table_count {
  width: 75px;
}

.form-table_action {
  width: 46px;
}

.ctlg-table {
  font-size: 12px;
}

.ctlg-table_a {
  width: 11%;
}

.ctlg-table_t {
  width: 32%;
}

.ctlg-table > tbody > tr > td {
  vertical-align: middle;
}

.ctlg-table > tbody > tr:hover {
  background-color: #fef9bd;
}

.ctlg-table > tbody > tr:first-child:hover {
  background-color: #fff;
}

.ctlg-table_i {
  width: 8%;
}

.ctlg-table_term {
  width: 15%;
}

.ctlg-table_price, .ctlg-table_count {
  width: 11%;
}

.ctlg-table_cart {
  width: 12%;
}
