/*
  Product-details styles
*/

.prod-det_pht {
  float: left;
  width: 21%;
  border: 5px solid #677786;
  position: relative;
  text-align: center;
  margin-right: 20px;

  img {
    width: 100%;
    height: auto;
  }
}

.prod-det_pht:before {
  content: url(../../../images/hover-car-layer.png);
  position: absolute;
  left: -5px;
  top: -5px;
}

.prod-det_info {
  float: left;
  width: 77%;

  .prod-det_t {
    font-family: @font-regular;
    font-size: 17px;
    color: #252525;
    margin-bottom: 10px;
  }
}

/*
  Media queries
*/

@media (min-width: 992px) and (max-width: 1200px) {
  .prod-det_info {
    width: 76%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .prod-det_info {
    width: 76%;
  }
}

@media (max-width: 767px) {
  .prod-det_pht {
    width: 220px;
    float: none;
    margin: 0 auto 25px auto;
  }

  .prod-det_info {
    width: 100%;
  }
}